@import "../../sass/mixins";
@import "../../sass/variables";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 1240px;
  border-radius: 5px;
  margin: 20px auto 100px;
  padding: 50px 25px;

  @include tablet {
    flex-direction: column;
    margin: 20px 20px 20px;
  }

  .title {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .left {
    padding-right: 20px;
    flex: 2;
    height: 100%;
    padding: 50px 30px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: #fff;

    @include tablet {
      flex: 1;
      margin-right: 0px;
      width: 100%;
    }
  }

  .right {
    flex: 1.25;
    padding: 50px 30px;
    border-radius: 5px;
    position: sticky;
    position: -webkit-sticky;
    overflow: auto;
    background-color: #fff;
    align-self: flex-start;
    transition: top 0.3s;
    box-shadow: 1px 1px 3px 1px #666;
    top: 100px;
    @include tablet {
      flex: 1;
      box-shadow: none;
      width: 100%;
      padding: 10px 10px;
    }
  }
}
