@import "../../sass/mixins";
@import "../../sass/variables";
.container {
  display: flex;
  margin: 38px 0;
  padding: 12px 0;
  justify-content: space-between;
  justify-items: stretch;
  border-radius: 10px;
  background-color: #fff;
  border: 0.5px solid #999;

  .info {
    width: 400px;

    @include tablet {
      width: 250px;
    }

    @include mobile {
      width: 120px;
    }
  }
  .image {
    width: 150px;
    height: 150px;
    margin-left: 20px;

    @include mobile {
      width: 100px;
      height: 150px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .exit {
    top: 0px;
    margin-right: 20px;
  }
}

.container:hover {
  -webkit-box-shadow: 0px 1px 1px #f2c94c;
  -moz-box-shadow: 0px 1px 1px #f2c94c;
  box-shadow: 1px 1px 10px 2px #f2c94c;
  border: 0.5px solid #fff;
}
