@import "../../sass/mixins";
@import "../../sass/variables";

.container {
  display: flex;
  flex-direction: row;
  max-width: 350px;
  padding: 12px 0;
  justify-content: space-around;
  justify-items: stretch;
  border-radius: 10px;
  border: 0.5px solid #999;
  margin: 10px auto 0px;
  @include tablet {
    width: 350px;
  }

  @include mobile {
    width: 280px;
  }

  .info {
    width: 500px;
  }
  
  .image {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
}
