.container {
  max-width: 1440px;
  margin: auto;

  .wrap {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    max-width: 1440px;
    margin: 20px auto 100px;
    padding: 50px;
    border-radius: 5px;
    background-color: #fff;

    .left {
      flex: 1.5;     
    }

    .right {
      flex: 1;

      .list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 10px;
      }      

      .countInStock {
        float: right;
        color: green;
      }

      .description {
        white-space: pre-wrap;
        line-height: 1.7;
      }
    }
  }
}