@import "../../sass/mixins";
@import "../../sass/variables";
.header {
  .container {
    color: $txt-white;
    display: flex;  
    max-width: 100%;
    max-height: 100vh;
  }

  &__content {
    position: absolute;
    z-index: 1;
    padding: 0 5%;        
    width: 100%;
    height: 100%;   /* Fallback color */
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */      
    @include tablet {
      height: 300px;
    }
    &__slogan {
      margin: 50px auto 50px auto;
      height: 100%;
      @include tablet {
        height: 50px;
      }
    }

    &__wrap1 {
      display: flex;     
      
      &__logo {
        @include tablet {
          height: 120px;
        }
      }
    }

    &__wrap2 {
      display: flex;
      flex-direction: column;   
      justify-content: start;
      align-items: center;
      gap: 100px;
      @include tablet {
        gap: 50px;
      }

      &__year {
        margin: 0px 135px;
        @include tablet {
          margin: 0px 60px;
          height: 20px;
          width: 80px;
        }        
      }

      &__btn {
        background-color: #fff;
        color: $txt-main-color;
        font-size: 1.25rem;
        text-transform: uppercase;
        padding: 10px 20px;
        font-weight: 700;
        border: 1px solid #000;
        letter-spacing: 0.1em;
        @include tablet {
          font-size: 0.85rem;
        }
      }
    }
  }

  &__left {
    width: 33%;
    height: 100vh;
    background-color: #f2c94c;
    @include tablet {
      height: 300px;
    }
  }

  &__right {
    width: 67%;
    height: 100%;

    img {
      width: 100%;
      height: 100vh; 
      @include tablet {
        height: 300px;
      }   
    }
  }
}
