.navbar {
  background-color: $navbar-bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: top 150ms;

  a:hover {
    color: $main-color;
  }

  .container {
    width: 90%;
    color: $txt-white;
    display: flex;
  }

  &__logo {
    display: block;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__item {
      margin: auto 30px;
      text-transform: uppercase;
      font-weight: 300;
    }

    &__item.active {
      color: $main-color;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .cart {
      padding: 5px 20px;
    }

    &__item {
      margin: auto 10px; 
      position: relative;
     
      .notification {
        position: absolute;
        right: 10px;
        bottom: 1px;
        background-color: red;
        border-radius: 30px;
        padding: 3px 6px;
        width: 20px;
        height: 20px;
        font-size: 0.75rem;
      }

      &__search {
        display: flex;
        justify-content: stretch;
        width: 280px;
        align-items: center;
        border: 0.5px groove rgb(167, 166, 166);
        padding: 5px 10px;

        input[type="search"] {
          padding: 5px;
          width: 250px;
          border: 0;
          background-color: #000;
          color: $txt-white;
        }

        input[type="search"]:focus {
          outline: none;
        }
      }
    }
  }
}

.show {
  top: 0;
}

.hide {
  top: -19%;
}
